/*
======================Group Member==========================
     Fullname                                      ID
1.	Efrata Melekea Adugna........................1900/15
2.	Aschalewu Abebe...............................1673/15
3.	Eman Hashim...................................2385/15
4.	Medhin Mehari.................................0348/15

======================2019==================================
*/

/* This is Our Webpage External Stylesheet Code for the whole Webpage */
.input-group.radius > *:first-child, .input-group.radius > *:first-child * {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
.input-group.radius > *:last-child, .input-group.radius > *:last-child * {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.input-group.round > *:first-child, .input-group.round > *:first-child * {
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }

.input-group.round > *:last-child, .input-group.round > *:last-child * {
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="decimal"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 3.0rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }

  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="month"][disabled],
  input[type="week"][disabled],
  input[type="email"][disabled],
  input[type="number"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  textarea[disabled] {
    background-color: #dddddd; }

/* Adjust margin for form elements below */

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0; }
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0; }

  fieldset legend {
    font-family:Imprint MT Shadow FB;
	color:#74767d;
    background: #F0F1F2;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }
	
/* This Code is media only screen Stylesheet */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
 
  vertical-align: middle; }
textarea {
  height: auto;
  min-height: 50px; }
select {
  width: 100%; }



@media only screen and (min-width: 120.063em) {


  /* line 168, grid */
  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  /* line 169, grid */
  [class*="column"] + [class*="column"].end {
    float: left; }

  /* line 172, grid */
  .column.xxlarge-centered,
  .columns.xxlarge-centered,
  #stack-list li.xxlarge-centered,
  #theme-list li > div.xxlarge-centered,
  ul#docs-list > li.xxlarge-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  /* line 175, grid */
  .column.xxlarge-uncentered,
  .columns.xxlarge-uncentered,
  #stack-list li.xxlarge-uncentered,
  #theme-list li > div.xxlarge-uncentered,
  ul#docs-list > li.xxlarge-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  /* line 182, grid */
  .column.xxlarge-uncentered.opposite,
  .columns.xxlarge-uncentered.opposite,
  #stack-list li.xxlarge-uncentered.opposite,
  #theme-list li > div.xxlarge-uncentered.opposite,
  ul#docs-list > li.xxlarge-uncentered.opposite {
    float: right !important; } }


/* line 19 buttons */
button, .button, .sendgrid-subscription-widget input[type="submit"] {
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #008cba;
  border-color: #0079a1;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important; }
  /* line 142, buttons */
  button:hover, button:focus, .button:hover, .sendgrid-subscription-widget input[type="submit"]:hover, .button:focus, .sendgrid-subscription-widget input[type="submit"]:focus {
    background-color: #0079a1; }
  /* line 153, buttons */
  button:hover, button:focus, .button:hover, .sendgrid-subscription-widget input[type="submit"]:hover, .button:focus, .sendgrid-subscription-widget input[type="submit"]:focus {
    color: white; }
  /* line 205, buttons */
  button.secondary, .button.secondary, .sendgrid-subscription-widget input.secondary[type="submit"] {
    background-color: #e7e7e7;
    border-color: #dadada;
    color: #333333; }
    /* line 142, buttons */
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .sendgrid-subscription-widget input.secondary[type="submit"]:hover, .button.secondary:focus, .sendgrid-subscription-widget input.secondary[type="submit"]:focus {
      background-color: #dadada; }
    /* line 148, buttons */
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .sendgrid-subscription-widget input.secondary[type="submit"]:hover, .button.secondary:focus, .sendgrid-subscription-widget input.secondary[type="submit"]:focus {
      color: #333333; }
  /* line 206, buttons */
  button.success, .button.success, .sendgrid-subscription-widget input.success[type="submit"] {
    background-color: #45A1C3;
    border-color: #537840;
    color: white; }
	
    /* line 142, buttons */
    button.success:hover, button.success:focus, .button.success:hover, .sendgrid-subscription-widget input.success[type="submit"]:hover, .button.success:focus, .sendgrid-subscription-widget input.success[type="submit"]:focus {
      background-color: #008cba; }
    /* line 153, buttons */
    button.success:hover, button.success:focus, .button.success:hover, .sendgrid-subscription-widget input.success[type="submit"]:hover, .button.success:focus, .sendgrid-subscription-widget input.success[type="submit"]:focus {
      color: white; }
  /* line 20 buttons */
  button.alert, .button.alert, .sendgrid-subscription-widget input.alert[type="submit"] {
    background-color: #f04124;
    border-color: #ea2f10;
    color: white; }
    /* line 142, buttons */
    button.alert:hover, button.alert:focus, .button.alert:hover, .sendgrid-subscription-widget input.alert[type="submit"]:hover, .button.alert:focus, .sendgrid-subscription-widget input.alert[type="submit"]:focus {
      background-color: #ea2f10; }
    /* line 153, buttons */
    button.alert:hover, button.alert:focus, .button.alert:hover, .sendgrid-subscription-widget input.alert[type="submit"]:hover, .button.alert:focus, .sendgrid-subscription-widget input.alert[type="submit"]:focus {
      color: white; }
  /* line 209, buttons */
  button.large, .button.large, .sendgrid-subscription-widget input.large[type="submit"] {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  /* line 210, buttons */
  button.small, .button.small, .sendgrid-subscription-widget input[type="submit"] {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  /* line 211, buttons */
  button.tiny, .button.tiny, .sendgrid-subscription-widget input.tiny[type="submit"] {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  /* line 212, buttons */
  button.expand, .button.expand, .sendgrid-subscription-widget input.expand[type="submit"] {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  /* line 214, buttons */
  button.left-align, .button.left-align, .sendgrid-subscription-widget input.left-align[type="submit"] {
    text-align: left;
    text-indent: 0.75rem; }
  /* line 215, buttons */
  button.right-align, .button.right-align, .sendgrid-subscription-widget input.right-align[type="submit"] {
    text-align: right;
    padding-right: 0.75rem; }
  /* line 21 buttons */
  button.radius, .button.radius, .sendgrid-subscription-widget input.radius[type="submit"] {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  /* line 218, buttons */
  button.round, .button.round, .sendgrid-subscription-widget input.round[type="submit"] {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  /* line 220, buttons */
  button.disabled, button[disabled], .button.disabled, .sendgrid-subscription-widget input.disabled[type="submit"], .button[disabled], .sendgrid-subscription-widget input[disabled][type="submit"] {
    background-color: #008cba;
    border-color: #0079a1;
    color: white;
    cursor: default;
    opacity: 0.7;
    -webkit-box-shadow: none;
    box-shadow: none; }
    /* line 142, buttons */
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .sendgrid-subscription-widget input.disabled[type="submit"]:hover, .button.disabled:focus, .sendgrid-subscription-widget input.disabled[type="submit"]:focus, .button[disabled]:hover, .sendgrid-subscription-widget input[disabled][type="submit"]:hover, .button[disabled]:focus, .sendgrid-subscription-widget input[disabled][type="submit"]:focus {
      background-color: #0079a1; }
    /* line 153, buttons */
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .sendgrid-subscription-widget input.disabled[type="submit"]:hover, .button.disabled:focus, .sendgrid-subscription-widget input.disabled[type="submit"]:focus, .button[disabled]:hover, .sendgrid-subscription-widget input[disabled][type="submit"]:hover, .button[disabled]:focus, .sendgrid-subscription-widget input[disabled][type="submit"]:focus {
      color: white; }
    /* line 166, buttons */
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .sendgrid-subscription-widget input.disabled[type="submit"]:hover, .button.disabled:focus, .sendgrid-subscription-widget input.disabled[type="submit"]:focus, .button[disabled]:hover, .sendgrid-subscription-widget input[disabled][type="submit"]:hover, .button[disabled]:focus, .sendgrid-subscription-widget input[disabled][type="submit"]:focus {
      background-color: #008cba; }
    /* line 221, buttons */
    button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .sendgrid-subscription-widget input.disabled.secondary[type="submit"], .button[disabled].secondary, .sendgrid-subscription-widget input[disabled].secondary[type="submit"] {
      background-color: #e7e7e7;
      border-color: #dadada;
      color: #333333;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none; }
      /* line 142, buttons */
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .sendgrid-subscription-widget input.disabled.secondary[type="submit"]:hover, .button.disabled.secondary:focus, .sendgrid-subscription-widget input.disabled.secondary[type="submit"]:focus, .button[disabled].secondary:hover, .sendgrid-subscription-widget input[disabled].secondary[type="submit"]:hover, .button[disabled].secondary:focus, .sendgrid-subscription-widget input[disabled].secondary[type="submit"]:focus {
        background-color: #dadada; }
      /* line 148, buttons */
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .sendgrid-subscription-widget input.disabled.secondary[type="submit"]:hover, .button.disabled.secondary:focus, .sendgrid-subscription-widget input.disabled.secondary[type="submit"]:focus, .button[disabled].secondary:hover, .sendgrid-subscription-widget input[disabled].secondary[type="submit"]:hover, .button[disabled].secondary:focus, .sendgrid-subscription-widget input[disabled].secondary[type="submit"]:focus {
        color: #333333; }
      /* line 166, buttons */
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .sendgrid-subscription-widget input.disabled.secondary[type="submit"]:hover, .button.disabled.secondary:focus, .sendgrid-subscription-widget input.disabled.secondary[type="submit"]:focus, .button[disabled].secondary:hover, .sendgrid-subscription-widget input[disabled].secondary[type="submit"]:hover, .button[disabled].secondary:focus, .sendgrid-subscription-widget input[disabled].secondary[type="submit"]:focus {
        background-color: #e7e7e7; }
    /* line 222, buttons */
    button.disabled.success, button[disabled].success, .button.disabled.success, .sendgrid-subscription-widget input.disabled.success[type="submit"], .button[disabled].success, .sendgrid-subscription-widget input[disabled].success[type="submit"] {
      background-color: #5e8949;
      border-color: #537840;
      color: white;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none; }
      /* line 142, buttons */
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .sendgrid-subscription-widget input.disabled.success[type="submit"]:hover, .button.disabled.success:focus, .sendgrid-subscription-widget input.disabled.success[type="submit"]:focus, .button[disabled].success:hover, .sendgrid-subscription-widget input[disabled].success[type="submit"]:hover, .button[disabled].success:focus, .sendgrid-subscription-widget input[disabled].success[type="submit"]:focus {
        background-color: #537840; }
      /* line 153, buttons */
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .sendgrid-subscription-widget input.disabled.success[type="submit"]:hover, .button.disabled.success:focus, .sendgrid-subscription-widget input.disabled.success[type="submit"]:focus, .button[disabled].success:hover, .sendgrid-subscription-widget input[disabled].success[type="submit"]:hover, .button[disabled].success:focus, .sendgrid-subscription-widget input[disabled].success[type="submit"]:focus {
        color: white; }
      /* line 166, buttons */
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .sendgrid-subscription-widget input.disabled.success[type="submit"]:hover, .button.disabled.success:focus, .sendgrid-subscription-widget input.disabled.success[type="submit"]:focus, .button[disabled].success:hover, .sendgrid-subscription-widget input[disabled].success[type="submit"]:hover, .button[disabled].success:focus, .sendgrid-subscription-widget input[disabled].success[type="submit"]:focus {
        background-color: #5e8949; }
    /* line 223, buttons */
    button.disabled.alert, button[disabled].alert, .button.disabled.alert, .sendgrid-subscription-widget input.disabled.alert[type="submit"], .button[disabled].alert, .sendgrid-subscription-widget input[disabled].alert[type="submit"] {
      background-color: #f04124;
      border-color: #ea2f10;
      color: white;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none; }
      /* line 142, buttons */
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .sendgrid-subscription-widget input.disabled.alert[type="submit"]:hover, .button.disabled.alert:focus, .sendgrid-subscription-widget input.disabled.alert[type="submit"]:focus, .button[disabled].alert:hover, .sendgrid-subscription-widget input[disabled].alert[type="submit"]:hover, .button[disabled].alert:focus, .sendgrid-subscription-widget input[disabled].alert[type="submit"]:focus {
        background-color: #ea2f10; }
      /* line 153, buttons */
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .sendgrid-subscription-widget input.disabled.alert[type="submit"]:hover, .button.disabled.alert:focus, .sendgrid-subscription-widget input.disabled.alert[type="submit"]:focus, .button[disabled].alert:hover, .sendgrid-subscription-widget input[disabled].alert[type="submit"]:hover, .button[disabled].alert:focus, .sendgrid-subscription-widget input[disabled].alert[type="submit"]:focus {
        color: white; }
      /* line 166, buttons */
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .sendgrid-subscription-widget input.disabled.alert[type="submit"]:hover, .button.disabled.alert:focus, .sendgrid-subscription-widget input.disabled.alert[type="submit"]:focus, .button[disabled].alert:hover, .sendgrid-subscription-widget input[disabled].alert[type="submit"]:hover, .button[disabled].alert:focus, .sendgrid-subscription-widget input[disabled].alert[type="submit"]:focus {
        background-color: #f04124; }

		
@media only screen and (min-width: 40.063em) {
  /* line 228, buttons */
  button, .button, .sendgrid-subscription-widget input[type="submit"] {
    display: inline-block; } }
/* line 80, button-groups */
.button-group {
  list-style: none;
  margin: 0;
  *zoom: 1; }
  /* line 165, global */
  .button-group:before, .button-group:after {
    content: " ";
    display: table; }
  /* line 166, global */
  .button-group:after {
    clear: both; }
  /* line 82, button-groups */
  .button-group > * {
    margin: 0;
    float: left; }
    /* 5, button-groups */
    .button-group > * > button, .button-group > * .button, .button-group > * .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group > * input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 45, button-groups */
    .button-group > *:first-child {
      margin-left: 0; }
  /* 5, button-groups */
  .button-group.radius > * > button, .button-group.radius > * .button, .button-group.radius > * .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.radius > * input[type="submit"] {
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.5); }
  /* 3, button-groups */
  .button-group.radius > *:first-child, .button-group.radius > *:first-child > a, .button-group.radius > *:first-child > button, .button-group.radius > *:first-child > .button, .sendgrid-subscription-widget .button-group.radius > *:first-child > input[type="submit"] {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  /*  button-groups */
  .button-group.radius > *:last-child, .button-group.radius > *:last-child > a, .button-group.radius > *:last-child > button, .button-group.radius > *:last-child > .button, .sendgrid-subscription-widget .button-group.radius > *:last-child > input[type="submit"] {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  /* 5, button-groups */
  .button-group.round > * > button, .button-group.round > * .button, .button-group.round > * .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.round > * input[type="submit"] {
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.5); }
  /* 3, button-groups */
  .button-group.round > *:first-child, .button-group.round > *:first-child > a, .button-group.round > *:first-child > button, .button-group.round > *:first-child > .button, .sendgrid-subscription-widget .button-group.round > *:first-child > input[type="submit"] {
    -moz-border-radius-bottomleft: 1000px;
    -moz-border-radius-topleft: 1000px;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }
  /*  button-groups */
  .button-group.round > *:last-child, .button-group.round > *:last-child > a, .button-group.round > *:last-child > button, .button-group.round > *:last-child > .button, .sendgrid-subscription-widget .button-group.round > *:last-child > input[type="submit"] {
    -moz-border-radius-topright: 1000px;
    -moz-border-radius-bottomright: 1000px;
    -webkit-border-top-right-radius: 1000px;
    -webkit-border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px; }
  /* line 88, button-groups */
  .button-group.even-2 li {
    width: 50%; }
    /* 5, button-groups */
    .button-group.even-2 li > button, .button-group.even-2 li .button, .button-group.even-2 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-2 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-2 li button, .button-group.even-2 li .button, .button-group.even-2 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-2 li input[type="submit"] {
      width: 100%; }
  /* line 88, button-groups */
  .button-group.even-3 li {
    width: 33.33333%; }
    /* 5, button-groups */
    .button-group.even-3 li > button, .button-group.even-3 li .button, .button-group.even-3 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-3 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-3 li button, .button-group.even-3 li .button, .button-group.even-3 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-3 li input[type="submit"] {
      width: 100%; }
  /* line 88, button-groups */
  .button-group.even-4 li {
    width: 25%; }
    /* 5, button-groups */
    .button-group.even-4 li > button, .button-group.even-4 li .button, .button-group.even-4 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-4 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-4 li button, .button-group.even-4 li .button, .button-group.even-4 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-4 li input[type="submit"] {
      width: 100%; }
  /* line 88, button-groups */
  .button-group.even-5 li {
    width: 20%; }
    /* 5, button-groups */
    .button-group.even-5 li > button, .button-group.even-5 li .button, .button-group.even-5 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-5 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-5 li button, .button-group.even-5 li .button, .button-group.even-5 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-5 li input[type="submit"] {
      width: 100%; }
  /* line 88, button-groups */
  .button-group.even-6 li {
    width: 16.66667%; }
    /* 5, button-groups */
    .button-group.even-6 li > button, .button-group.even-6 li .button, .button-group.even-6 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-6 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-6 li button, .button-group.even-6 li .button, .button-group.even-6 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-6 li input[type="submit"] {
      width: 100%; }
  /* line 88, button-groups */
  .button-group.even-7 li {
    width: 14.28571%; }
    /* 5, button-groups */
    .button-group.even-7 li > button, .button-group.even-7 li .button, .button-group.even-7 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-7 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-7 li button, .button-group.even-7 li .button, .button-group.even-7 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-7 li input[type="submit"] {
      width: 100%; }
  /* line 88, button-groups */
  .button-group.even-8 li {
    width: 12.5%; }
    /* 5, button-groups */
    .button-group.even-8 li > button, .button-group.even-8 li .button, .button-group.even-8 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-8 li input[type="submit"] {
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.5); }
    /* line 73, button-groups */
    .button-group.even-8 li button, .button-group.even-8 li .button, .button-group.even-8 li .sendgrid-subscription-widget input[type="submit"], .sendgrid-subscription-widget .button-group.even-8 li input[type="submit"] {
      width: 100%; }

/* line 92, button-groups */
.button-bar {
  *zoom: 1; }
  /* line 165, global */
  .button-bar:before, .button-bar:after {
    content: " ";
    display: table; }
  /* line 166, global */
  .button-bar:after {
    clear: both; }
  /* line 94, button-groups */
  .button-bar .button-group {
    float: left;
    margin-right: 0.625rem; }
    /* line 28, button-groups */
    .button-bar .button-group div {
      overflow: hidden; }




 

/* line 118, dropdown-buttons */
.dropdown.button, .sendgrid-subscription-widget input.dropdown[type="submit"] {
  position: relative;
  padding-right: 3.5625rem; }
  /* line 58, dropdown-buttons */
  .dropdown.button:before, .sendgrid-subscription-widget input.dropdown[type="submit"]:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-color: white transparent transparent transparent;
    top: 50%; }
  /* line 93, dropdown-buttons */
  .dropdown.button:before, .sendgrid-subscription-widget input.dropdown[type="submit"]:before {
    border-width: 0.375rem;
    right: 1.40625rem;
    margin-top: -0.15625rem; }
  /* line 112, dropdown-buttons */
  .dropdown.button:before, .sendgrid-subscription-widget input.dropdown[type="submit"]:before {
    border-color: white transparent transparent transparent; }
  /* line 119, dropdown-buttons */
  .dropdown.button.tiny, .sendgrid-subscription-widget input.dropdown.tiny[type="submit"] {
    padding-right: 2.625rem; }
    /* line 73, dropdown-buttons */
    .dropdown.button.tiny:before, .sendgrid-subscription-widget input.dropdown.tiny[type="submit"]:before {
      border-width: 0.375rem;
      right: 1.125rem;
      margin-top: -0.125rem; }
    /* line 112, dropdown-buttons */
    .dropdown.button.tiny:before, .sendgrid-subscription-widget input.dropdown.tiny[type="submit"]:before {
      border-color: white transparent transparent transparent; }
  /* line 120, dropdown-buttons */
  .dropdown.button.small, .sendgrid-subscription-widget input.dropdown[type="submit"] {
    padding-right: 3.0625rem; }
    /* line 83, dropdown-buttons */
    .dropdown.button.small:before, .sendgrid-subscription-widget input.dropdown[type="submit"]:before {
      border-width: 0.4375rem;
      right: 1.3125rem;
      margin-top: -0.15625rem; }
    /* line 112, dropdown-buttons */
    .dropdown.button.small:before, .sendgrid-subscription-widget input.dropdown[type="submit"]:before {
      border-color: white transparent transparent transparent; }
  /* line 121, dropdown-buttons */
  .dropdown.button.large, .sendgrid-subscription-widget input.dropdown.large[type="submit"] {
    padding-right: 3.625rem; }
    /* line 103, dropdown-buttons */
    .dropdown.button.large:before, .sendgrid-subscription-widget input.dropdown.large[type="submit"]:before {
      border-width: 0.3125rem;
      right: 1.71875rem;
      margin-top: -0.15625rem; }
    /* line 112, dropdown-buttons */
    .dropdown.button.large:before, .sendgrid-subscription-widget input.dropdown.large[type="submit"]:before {
      border-color: white transparent transparent transparent; }
  /* line 122, dropdown-buttons */
  .dropdown.button.secondary:before, .sendgrid-subscription-widget input.dropdown.secondary[type="submit"]:before {
    border-color: #333333 transparent transparent transparent; }


form {
  margin: 0 0 1rem; }


    form .row .row.collapse input, form #stack-list .row.collapse input, form #theme-list li .row.collapse input, #theme-list form li .row.collapse input, form ul#docs-list .row.collapse input, form .row .collapse#stack-list input, form #stack-list .collapse#stack-list input, form #theme-list li .collapse#stack-list input, #theme-list form li .collapse#stack-list input, form ul#docs-list .collapse#stack-list input, form .row #theme-list li.collapse input, #theme-list form .row li.collapse input, form #stack-list #theme-list li.collapse input, #theme-list form #stack-list li.collapse input, form #theme-list li li.collapse input, #theme-list form li li.collapse input, form ul#docs-list #theme-list li.collapse input, #theme-list form ul#docs-list li.collapse input, form .row ul.collapse#docs-list input, form #stack-list ul.collapse#docs-list input, form #theme-list li ul.collapse#docs-list input, #theme-list form li ul.collapse#docs-list input, form ul#docs-list ul.collapse#docs-list input {
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-topright: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-top-right-radius: 0; }
/* line 9 forms */
form .row input.column, form #stack-list input.column, form #theme-list li input.column, #theme-list form li input.column, form ul#docs-list input.column,
form .row input.columns,
form #stack-list input.columns,
form #theme-list li input.columns,
#theme-list form li input.columns,
form ul#docs-list input.columns,
form .row textarea.column,
form #stack-list textarea.column,
form #theme-list li textarea.column,
#theme-list form li textarea.column,
form ul#docs-list textarea.column,
form .row textarea.columns,
form #stack-list textarea.columns,
form #theme-list li textarea.columns,
#theme-list form li textarea.columns,
form ul#docs-list textarea.columns {
  padding-left: 0.5rem; }

/* Label Styles */
/* 06, forms */
label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.5rem;
  /* Styles for required inputs */ }
  /* 0 forms */
  label.right {
    float: none;
    text-align: right; }
  /* 08, forms */
  label.inline {
    margin: 0 0 1rem 0;
    padding: 0.625rem 0; }
  /* 10, forms */
  label small {
    text-transform: capitalize;
    color: #666666; }

/* 16, forms */
select {
  -webkit-appearance: none !important;
  background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0;
  border-radius: 0; }
  /* 2 forms */
  select.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  /* 28, forms */
  select:hover {
    background: #f2f2f2 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
    background-position-x: 97%;
    background-position-y: center;
    border-color: #999999; }

@-moz-document url-prefix() {
  /* 38, forms */
  select {
    background: #fafafa; }

  /* 39, forms */
  select:hover {
    background: #f2f2f2; } }

/* Attach elements to the beginning or end of an input */
/* 43, forms */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem; }

/* Adjust padding, alignment and radius if pre/post element is a button */
/* 46, forms */
.postfix.button, .sendgrid-subscription-widget input.postfix[type="submit"] {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none; }

/* 4 forms */
.prefix.button, .sendgrid-subscription-widget input.prefix[type="submit"] {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none; }

/* 49, forms */
.prefix.button.radius, .sendgrid-subscription-widget input.prefix.radius[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

/* 50, forms */
.postfix.button.radius, .sendgrid-subscription-widget input.postfix.radius[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

/* 51, forms */
.prefix.button.round, .sendgrid-subscription-widget input.prefix.round[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }

/* 52, forms */
.postfix.button.round, .sendgrid-subscription-widget input.postfix.round[type="submit"] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
/* 55, forms */
span.prefix, label.prefix {
  background: #f2f2f2;
  border-color: #d9d9d9;
  border-right: none;
  color: #333333; }
  /* 56, forms */
  span.prefix.radius, label.prefix.radius {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }

/* 58, forms */
span.postfix, label.postfix {
  background: #f2f2f2;
  border-color: #cccccc;
  border-left: none;
  color: #333333; }
  /* 59, forms */
  span.postfix.radius, label.postfix.radius {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

/* Error Handling */
/* line 436, forms */
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
/* line 439, forms */
[data-abide] span.error, [data-abide] small.error {
  display: none; }

/* line 441, forms */
span.error, small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }

/* line 44 forms */
.error input,
.error textarea,
.error select {
  margin-bottom: 0; }
/* line 452, forms */
.error label,
.error label.error {
  color: #f04124; }
/* line 45 forms */
.error > small,
.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
/* line 461, forms */
.error span.error-message {
  display: block; }

/* line 46 forms */
input.error,
textarea.error {
  margin-bottom: 0; }

/* line 470, forms */
label.error {
  color: #f04124; }

/* line 48, inline-lists */
.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  /*  inline-lists */
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block; }
    /* line 42, inline-lists */
    .inline-list > li > * {
      display: block; }


.keystroke,
kbd {
  background-color: #ededed;
  border-color: #dbdbdb;
  color: #222222;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem 0;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* line 8 labels */
.label {
  font-weight: normal;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 0.6875rem;
  background-color: #008cba;
  color: white; }
  /* line 92, labels */
  .label.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  /* line 93, labels */
  .label.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  /* line 95, labels */
  .label.alert {
    background-color: #f04124;
    color: white; }
  /* line 96, labels */
  .label.success {
    background-color: #5e8949;
    color: white; }
  /* line 9 labels */
  .label.secondary {
    background-color: #e7e7e7;
    color: #333333; }

/* line 14, magellan */
[data-magellan-expedition] {
  background: white;
  z-index: 50;
  min-width: 100%;
  padding: 10px; }
  /* line 20, magellan */
  [data-magellan-expedition] .sub-nav {
    margin-bottom: 0; }
    /* line 22, magellan */
    [data-magellan-expedition] .sub-nav dd {
      margin-bottom: 0; }
    /* line 23, magellan */
    [data-magellan-expedition] .sub-nav .active {
      line-height: 1.8em; }

@-webkit-keyframes rotate {
  /* line 45, orbit */
  from {
    -webkit-transform: rotate(0deg); }

  /* line 46, orbit */
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  /* line 49, orbit */
  from {
    -moz-transform: rotate(0deg); }

  /* line 50, orbit */
  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  /* line 53, orbit */
  from {
    -o-transform: rotate(0deg); }

  /* line 54, orbit */
  to {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  /* line 58, orbit */
  from {
    transform: rotate(0deg); }

  /* line 59, orbit */
  to {
    transform: rotate(360deg); } }


/* line 169, split-buttons */
.split.button, .sendgrid-subscription-widget input.split[type="submit"] {
  position: relative;
  padding-right: 5.0625rem; }
  /* line 72, split-buttons */
  .split.button span, .sendgrid-subscription-widget input.split[type="submit"] span {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: solid 1px; }
    /* line 81, split-buttons */
    .split.button span:before, .sendgrid-subscription-widget input.split[type="submit"] span:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      display: block;
      border-style: inset;
      top: 50%;
      left: 50%; }
    /* line 93, split-buttons */
    .split.button span:active, .sendgrid-subscription-widget input.split[type="submit"] span:active {
      background-color: rgba(0, 0, 0, 0.1); }
  /* line 99, split-buttons */
  .split.button span, .sendgrid-subscription-widget input.split[type="submit"] span {
    border-left-color: rgba(255, 255, 255, 0.5); }
  /* line 136, split-buttons */
  .split.button span, .sendgrid-subscription-widget input.split[type="submit"] span {
    width: 3.09375rem; }
    /* line 13 split-buttons */
    .split.button span:before, .sendgrid-subscription-widget input.split[type="submit"] span:before {
      border-top-style: solid;
      border-width: 0.375rem;
      top: 48%;
      margin-left: -0.375rem; }
  /* line 162, split-buttons */
  .split.button span:before, .sendgrid-subscription-widget input.split[type="submit"] span:before {
    border-color: white transparent transparent transparent; }
  /* line 99, split-buttons */
  .split.button.secondary span, .sendgrid-subscription-widget input.split.secondary[type="submit"] span {
    border-left-color: rgba(255, 255, 255, 0.5); }
  /* line 162, split-buttons */
  .split.button.secondary span:before, .sendgrid-subscription-widget input.split.secondary[type="submit"] span:before {
    border-color: white transparent transparent transparent; }
  /* line 99, split-buttons */
  .split.button.alert span, .sendgrid-subscription-widget input.split.alert[type="submit"] span {
    border-left-color: rgba(255, 255, 255, 0.5); }
  /* line 99, split-buttons */
  .split.button.success span, .sendgrid-subscription-widget input.split.success[type="submit"] span {
    border-left-color: rgba(255, 255, 255, 0.5); }
  /* line 175, split-buttons */
  .split.button.tiny, .sendgrid-subscription-widget input.split.tiny[type="submit"] {
    padding-right: 3.75rem; }
    /* line 108, split-buttons */
    .split.button.tiny span, .sendgrid-subscription-widget input.split.tiny[type="submit"] span {
      width: 2.25rem; }
      /* line 109, split-buttons */
      .split.button.tiny span:before, .sendgrid-subscription-widget input.split.tiny[type="submit"] span:before {
        border-top-style: solid;
        border-width: 0.375rem;
        top: 48%;
        margin-left: -0.375rem; }
  /* line 176, split-buttons */
  .split.button.small, .sendgrid-subscription-widget input.split[type="submit"] {
    padding-right: 4.375rem; }
    /* line 122, split-buttons */
    .split.button.small span, .sendgrid-subscription-widget input.split[type="submit"] span {
      width: 2.625rem; }
      /* line 123, split-buttons */
      .split.button.small span:before, .sendgrid-subscription-widget input.split[type="submit"] span:before {
        border-top-style: solid;
        border-width: 0.4375rem;
        top: 48%;
        margin-left: -0.375rem; }
  /* line 17 split-buttons */
  .split.button.large, .sendgrid-subscription-widget input.split.large[type="submit"] {
    padding-right: 5.5rem; }
    /* line 150, split-buttons */
    .split.button.large span, .sendgrid-subscription-widget input.split.large[type="submit"] span {
      width: 3.4375rem; }
      /* line 151, split-buttons */
      .split.button.large span:before, .sendgrid-subscription-widget input.split.large[type="submit"] span:before {
        border-top-style: solid;
        border-width: 0.3125rem;
        top: 48%;
        margin-left: -0.375rem; }
  /* line 178, split-buttons */
  .split.button.expand, .sendgrid-subscription-widget input.split.expand[type="submit"] {
    padding-left: 2rem; }
  /* line 162, split-buttons */
  .split.button.secondary span:before, .sendgrid-subscription-widget input.split.secondary[type="submit"] span:before {
    border-color: #333333 transparent transparent transparent; }
  /* line 182, split-buttons */
  .split.button.radius span, .sendgrid-subscription-widget input.split.radius[type="submit"] span {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  /* line 183, split-buttons */
  .split.button.round span, .sendgrid-subscription-widget input.split.round[type="submit"] span {
    -moz-border-radius-topright: 1000px;
    -moz-border-radius-bottomright: 1000px;
    -webkit-border-top-right-radius: 1000px;
    -webkit-border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px; }
